body {
    text-align: center;
    padding: 20px;
  }
  
  .button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #000;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    background-color: red;
  }
  
  .dashed {
    border: 3px dashed #0d2631;
  }
  
  .dotted {
    border: 3px dotted #0d2631;
  }
  
  .sign {
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
    position: relative;
    margin: 50px auto;
  }
  
  .sign::after {
    content: "";
    position: absolute;
    top: 40px;
    left: 10px;
    width: 80px;
    height: 20px;
    background-color: #fff;
  }